* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1156px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}

.header__logo {
  box-shadow: 0px 0px 50px 0px #a4ecd4;
}

.header__nav {
  display: flex;
  list-style-type: none;
}

.list__two {
  margin-left: 53px;
  margin-right: 37px;
}

.na__link {
  font-size: 18px;
  line-height: 27px;

  color: #021206;

  opacity: 0.5;

  text-decoration: none;
}

.header__btn-link-one {
  margin-right: 23px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #021206;
  text-decoration: none;

  opacity: 0.7;
}

.header__btn-link-two {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFF;

  padding: 15px 30px;

  background: #F44545;
  border-radius: 6px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 110px 0;
}

.hero__item {
  width: 510px;
  margin-right: 68px;
}

.hero__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;

  color: #021206;
  margin-bottom: 25px;
}

.hero__tit-span {
  color: #3EFFC0;
}

.hero__text {
  font-weight: normal;
  font-size: 21px;
  line-height: 160%;

  color: #021206;

  opacity: 0.7;
  margin-bottom: 30px;
}

.hero__input-item {
  filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
  margin-bottom: 35px;
}

.hero__input {
  background: #FFFFFF;
  border-radius: 6px;
  width: 472px;
  height: 65px;
  padding-left: 24px;
  border: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #021206;
}

.hero__link {
  margin-left: -127px;
  margin-top: 6px;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;

  color: #FFFFFF;
  padding: 11px 33px;

  background: #F44545;
  border-radius: 6px;
  text-decoration: none;
}

.hero__app-img {
  margin-right: 30px;
  text-decoration: none;
}

.hero__img-lap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* MAIN PART  */


.main__aside {
  background: #ebfff8;
}

.aside__item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 53px 0;
}

.main__complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 110px 0;
}

.complete__manu {
  margin-left: -68px;
  margin-right: 78px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  width: 624px;
  height: 640px;
  list-style-type: none;
}

.list_one {
  box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
}

.complete__list {
  width: 282px;
  height: 290px;
  padding: 35px 24px 36px 35px;

  background: #FFFFFF;
  border: 1px solid rgba(2, 18, 6, 0.1);
  border-radius: 10px;
}

.complete__icon {
  background: #FF9A9A;
  box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
  border-radius: 10px;
  width: 75px;
  height: 75px;
  padding: 20px;
  margin-bottom: 25px;
}

.ic-two {
  box-shadow: 1px 5px 30px #85fed6;
  background: #85FED6;
}

.ic-thre {
  box-shadow: 1px 5px 30px #FCD876;
  background: #FCD876;
}

.ic-foo {
  box-shadow: 1px 5px 30px #FE9AF4;
  background: #FE9AF4;
}

.complete__list-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;

  color: #021206;

  opacity: 0.8;
  margin-bottom: 9px;
}

.complete__list-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;

  color: #021206;

  opacity: 0.7;
}

.complete__item {
  width: 548px;
  height: 405px;
}

.cmplete__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;

  color: #021206;
  margin-bottom: 20px;
}

.complete__text {
  font-size: 18px;
  line-height: 160%;

  color: #021206;

  opacity: 0.7;
  margin-bottom: 16px;
  margin-right: 69px;
}

.c-two {
  margin-bottom: 29px;
}

.complete__link {
  text-decoration: none;
  margin-right: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

  color: #FFFFFF;
  padding: 15px 40px;

  background: #282323;
  border-radius: 6px;
}

.complete__link:hover {
  background: #5a4e4e;
  transition: all 0.3s;
}

.complete__span {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

  color: #FF4D4D;
}